* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Noto Serif", serif;
  background-color: #333333;
}

.logo h4 {
  color: rgb(249, 255, 254);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  width: 55%;
}

.nav-links a {
  color: rgb(249, 255, 254);
  font-weight: bold;
  font-size: 14px;
}

.container {
  width: 100%;
  display: block;
  height: 185px;

  position: relative;
  text-align: center;
  color: white;
}

/* Use this as a reference */
.diwali {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Anton", sans-serif;
  font-size: 62px;
  color: #3a3a38;
}

.banner-image {
  width: 100%;
  display: block;
  height: 500px;
  position: absolute;
}

.img1,
.img2,
.img3 {
  width: 20%;
}

.img4,
.img5 {
  width: 40%;
}

#intro {
  font-family: "Mukta", sans-serif;
  font-size: 25px;
}

.about-text h2 {
  font-family: "Poppins", sans-serif;
}

.intro-text h2 {
  font-family: "Poppins", sans-serif;
}

.media h2{
  font-family: "Poppins", sans-serif;
}

#about {
  font-family: "Mukta", sans-serif;
  font-size: 25px;
}

.ending{
  font-family: "Poppins", sans-serif;
  background-color:  #3a3a38;
  height: 10vh;
}

.ending h3{
  text-align: center;
  text-transform: uppercase;
}